[submodule "librocksdb_sys/rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/MazzeLabs/rocksdb
	branch = mazze-fixes
[submodule "librocksdb_sys/libtitan_sys/titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/MazzeLabs/titan
	branch = mazze-fixes
